<?xml version="1.0" encoding="utf-8"?>
<launch>


  <!-- Start the Baxter pick and place demo -->
  <node pkg="birl_baxter_pnp_sim" type="topic_multimodal.py" name="topic_multimodal" />
  <node pkg="baxter_interface" type="joint_trajectory_action_server.py" name="joint_trajectory_action_server" />
  <node pkg="birl_baxter_pnp_sim" type="pick_n_place_joint_trajectory_smach.py" name="pick_n_place_joint_trajectory_smach" />
  
</launch>
